@import "../../css/constants";

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    $padding: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 1);
    > div {
        padding: 15px $padding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        height: 30px;
        display: flex;
        align-items: center;
        > img {
            filter: invert(100%);
            height: inherit;
            margin-right: 5px;
        }
        > h1 {
            font-size: 25px;
        }
    }
    #hamburger {
        position: relative;
        display: block;
        z-index: 11;
        $height: 30px;
        $width: 30px;
        height: $height;
        width: $width;
        > div {
            display: block;
            position: absolute;
            width: $width;
            height: 4px;
            left: 0;
            border-radius: 10px;
            background-color: $colorDentist;
            transform: translate(0%, 0%);
            font-size: 0px;

            transition-property: background-color, box-shadow, transform, width, height;
            transition-duration: 0.3s;
        }
        @for $i from 1 to 4 {
            > div:nth-child(#{$i}) {
                top: calc((#{$i} - 1) * (#{$height} / 3));
            }
        }

        &.hamburgerOpened {
            > div {
                background-color: $colorWhite;
            }
            > div:nth-child(1) {
                transform: translate(0%, #{$height / 3}) rotateZ(45deg);
            }
            > div:nth-child(3) {
                transform: translate(0%, -#{$height / 3}) rotateZ(-45deg);
            }
            > div:nth-child(2) {
                transform: translate(calc(#{$height} + #{$padding} - 75vw), 20px);
                width: 50vw;
            }
        }
    }
    nav {
        position: fixed;
        z-index: -1;
        top: 0px;
        left: 0px;
        background-color: $colorDentist;
        color: $colorWhite;
        height: 100vh;
        width: 100vw;
        padding: 50px 5px;
        box-sizing: border-box;
        opacity: 0;
        transform: translateX(150%);
        transition-property: opacity;
        transition-duration: 0.3s;
        > ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 25px;
            height: 100%;
            overflow-y: scroll;
            > li {
                width: 100%;
                border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
                > a {
                    text-transform: uppercase;
                    transform: translateX(30px);
                    opacity: 0;
                    transition-property: opacity, transform;
                    transition-duration: 0.7s;
                    font-weight: bolder;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                }
                > ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-height: 0px;
                    font-size: 0px;
                    transition-property: max-height, font-size;
                    transition-duration: 0.3s;
                    > li {
                        border-top: rgba(255, 255, 255, 0.3) solid 0px;
                        max-height: 0px;
                        transition-property: border, max-height;
                        transition-duration: 0.3s;
                        > a {
                            transform: translateY(20px);
                            opacity: 0;
                            padding: 0px;
                            transition-property: opacity, transform, padding;
                            transition-duration: 0.7s;
                        }
                    }
                    &.subMenuOpened {
                        max-height: 100vh;
                        font-size: 0.9em;
                        > li {
                            max-height: 200vh;
                            border-top: rgba(255, 255, 255, 0.3) solid 0.5px;
                            > a {
                                transform: translateY(0px);
                                opacity: 1;
                                padding: 15px 2px;
                            }
                        }
                    }
                }
            }
            a {
                display: block;
                padding: 15px 0px;
                &.disabled {
                    color: rgba(0, 0, 0, 0.2);
                    text-shadow: none;
                }
            }
        }
        > p.navPhone {
            display: block;
            text-align: center;
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: 0.5s;
        }
        &.navOpened {
            transform: translateX(0%);
            opacity: 1;
            > ul {
                > li {
                    > a {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }
            }
            > p.navPhone {
                opacity: 1;
                transform: translateY(-35px);
            }
        }
    }
}

@media (min-width: 800px) {
    header {
        &.headerSticky {
            > div {
                padding-top: 0px;
            }
            nav {
                > ul {
                    > li {
                        > ul {
                            background-color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }
        }
        > div {
            padding: 0px;
            #hamburger {
                display: none;
            }
            nav {
                position: relative;
                height: 80px;
                width: fit-content;
                opacity: 1;
                transform: translateX(0%);
                background-color: transparent;
                color: $colorDentist;
                padding: 5px;
                padding-bottom: 0px;
                margin-right: 50px;
                z-index: auto;
                p.navPhone {
                    display: none;
                }
                > ul {
                    flex-direction: row;
                    overflow: initial;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 18px;
                    > li {
                        height: 100%;
                        position: relative;
                        border-bottom: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        > a {
                            transform: translateX(0px);
                            opacity: 1;
                            cursor: pointer;
                            transition: color 0.4s;
                        }
                        &::after {
                            content: "";
                            background-color: transparent;
                            height: 15px;
                            width: 100%;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            transform: translateY(100%);
                        }
                        > ul {
                            position: absolute;
                            bottom: -10px;
                            left: 0px;
                            transform: translateY(100%);
                            background-color: $colorGray;
                            width: 100%;
                            > li {
                                a {
                                    cursor: pointer;
                                    transition: color 0.4s;
                                }
                                &:hover {
                                    > a {
                                        color: $colorWhite;
                                    }
                                }
                            }

                            > li:first-child {
                                border-top: none;
                            }
                        }
                        &:hover {
                            > a {
                                color: $colorWhite;
                            }
                        }
                        a {
                            &.disabled:hover,
                            &.disabled {
                                color: rgba(255, 255, 255, 0.2);
                                text-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
